.candleDetails-container {
    display: flex;
    text-align: center;
    margin: 20px 30px 30px 30px;
    line-height: 40px;
}

/* NOTE: Was looking at bath and body works individual candle detail
page to see how to style it in a similar way */

/* .pdp-main .product-cols-wrap {
    max-width: 767px;
    margin: auto;
}

.pdp-main .product-col-1 {
    float: left;
    width: 350px;
    margin-right: 1.9%;
}

.pdp-main .product-primary-image {
    max-width: 100%;
    padding: 0;
    text-align: center;
    position: relative;
}

@media only screen and (max-width: 1023px) .pdp-main .product-col-2 {
    width: 48.5%;
}

.pdp-main .product-col-2 {
    float: right;
    width: 51.5%;
    max-width: 470px;
}

#primary h1 {
    margin-bottom: 0;
}

.pdp-main #product-content {
    margin-top: 1.0625em;
} */
