.candleDetails-container {
  display: flex;
  position: relative;
  text-align: center;
  margin: 20px 30px 30px 66px;
  line-height: 40px;

  /* line-height: 20px; */

  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.candle {
  display: flex;
  position: relative;
  text-align: center;
  margin: 20px 30px 30px 30px;
  line-height: 40px;
  /* font-family: Palatino Linotype; */
}

.candles-details {
  align-content: center;
  display: flex;
}

.candle-img img {
  max-width: 90%;
  object-fit: contain;
  /*! text-align: center; */
}

.candle-description {
  /*! margin: 11px; */
  line-height: 30px;
  width: 33em;
  margin-left: 7em;
}

.waxmelts-container {
  text-align: center;
  margin: 20px 200px 30px 200px;
  line-height: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.waxmelts-container h3 {
  font-size: 3em;
}
