.confirmation-container {
     /* position: absolute; */
     text-align: center;
     margin: 20px 140px 30px 140px;
    line-height: 20px;
     padding: 2px;
     font-family:Palatino Linotype;
}

.confirmation-container h3 {
    line-height: 50px;
}

.confirmation-container h4 {
    line-height: 50px;
}