#footer {
  /* position: absolute;
  bottom: 0; */
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  /* height: 20%; Height of the footer */
  background: rgb(37, 36, 36);
  font-family: Palatino Linotype;
  color: white;
}

#footer a {
  color: white;
}

.footer-container {
  display: flex;
  /*! margin: 22px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.footer-card {
  text-align: center;
}

.footer-card .social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
