.container.footer {
  background: rgb(37, 36, 36);
  margin: 0;
  max-width: 100%;
  color: white;
}

.footer-container {
  display: flex;
  /*! margin: 22px; */
  flex-wrap: wrap;
  justify-content: center;
}

.footer-card .p {
  text-align: center;
  /* color: white; */
}

/* .footer-card .li {
  color: white;
} */

footer-card {
  margin: 25px;
}

a {
  color: white !important;
}
