#footer {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  /* height: 20%; Height of the footer */
  background: rgb(37, 36, 36);
  font-family: Palatino Linotype;
  color: white;
}

#footer a {
  color: white;
}

.footer-container {
  display: flex;
  /*! margin: 22px; */
  flex-wrap: wrap;
  justify-content: center;
}

/* .container.footer {
  margin: 0;
  max-width: 100%;
  color: white;
} */

.footer-card .p {
  text-align: center;
  /* color: white; */
}

/* .footer-card .li {
  color: white;
} */

footer-card {
  margin: 25px;
}

/* a {
  color: white !important;
} */
