* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: brown;
  --color-button: rgb(96, 96, 138);
}

a {
  /* color: white !important; */
  text-decoration: none !important;
}

li {
  list-style: none;
}
.candleImage {
  min-width: 300px;
}

.page-height {
  height: 70vh;
}

.hr {
  width: 42em;
}

.hr-vertical {
  height: 32em !important;
  width: 1px !important;
}

.general-button {
}
