* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: brown;
  --color-button: rgb(96, 96, 138);
}

a {
  color: black !important;
  text-decoration: none !important;
}

li {
  list-style: none;
}
