* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: brown;
  --color-button: rgb(96, 96, 138);
}

a {
  color: black;
}
.cart-title {
  background: var(--color-button);
}

.candleImage {
  min-width: 300px;

}


  .cards {
    color: black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1 px solid rgba(0, 0, 0, .125);
    border-radius: 0.25 rem;
  }

  .Card {
    color: brown;
  }
