.home-container {
   background-color: white !important;
}

.home-container p{
    text-align: center;
    margin: 10px;
    font-family: Palatino Linotype;
}

.newsletter {
    display: flex;
    justify-content: center;
        /* text-align: center; */
        font-family: Palatino Linotype;

}

.card-container {
       background-color: white !important;

}

.home-navbar2 {
    display: flex;
    justify-content: space-evenly;
}

.home-navbar2 a {
    display: flex;
    justify-content: space-evenly;
    color: black;
}
.home-introduction-container {
        text-align: center;
        margin: 20px 250px 30px 250px;
        line-height: 20px;
        PADDING: 5PX;
        font-family: Palatino Linotype;
        color: black;
}

.home-links-container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
}

.text-on-image3 {
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 15%;
}