.home-container {
  background-color: white;
}

.home-container p {
  text-align: center;
  margin: 10px;
}

.card-container {
  background-color: white;
}

.newsletter {
  display: flex;
  justify-content: center;
}

.home-introduction-container {
  text-align: center;
  margin: 20px 250px 30px 250px;
  line-height: 20px;
  padding: 5px;
}

.home-links-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
}

.head-image img {
  transition: all 0.2s ease-in-out;
}
.head-image img:hover {
  transform: scale(1.1);
}

.home-introduction-container {
  text-align: center;
  margin: 20px 325px 30px 325px;
  line-height: 20px;
  padding: 20px;
}

.home-introduction-container h3 {
  font-size: 23px;
  font-weight: lighter;
  margin-top: 20px;
}

.home-introduction-container h4 {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 20px;
}

#underline {
  height: 1px;
  width: 17em;
  margin: auto;
}
