.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(172, 66, 66) !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}