.bg-light {
    --bs-bg-opacity: 1;
    /* background-color: darkslategrey !important; */
    background-color: #1a1919 !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #333333;

}

/* a {
    color: black;
}

.container-fluid {
    color: black;
} */