.payment-container {
  text-align: center;
  margin: 20px 200px 30px 200px;
  line-height: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.waxmelts-container h3 {
  font-size: 3em;
}
