.private-container {
    text-align: center;
    margin: 20px 200px 30px 200px;
    padding: 10px;
    line-height: 40px;
    font-family: Palatino Linotype;
}

.private-container h1{
    display: flex;
    justify-content: center;
}