.shipping-container {
  text-align: center;
  margin: 20px 200px 30px 200px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.shipping-container p {
  text-align: center;
  margin-top: 20px;
}

.shipping-container h3 {
  font-size: 3em;
}
